<div class="dashboard">
    <div class="sidebar">
        <div class="logo">
            <h2>MyDashboard</h2>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/admin" routerLinkActive="active">Home</a></li>
                <li><a routerLink="add-members" routerLinkActive="active">Add Members</a></li>
                <!-- <li><a routerLink="/settings" routerLinkActive="active">View Members</a></li> -->
                <!-- <li><a routerLink="/addBlance" routerLinkActive="active">Add Balance</a></li> -->
                <!-- <li><a routerLink="/settings" routerLinkActive="active">View Balance</a></li> -->
                <!-- <li><a routerLink="/add meal" routerLinkActive="active">Add Meal</a></li> -->
                <!-- <li><a routerLink="/settings" routerLinkActive="active">View Meal</a></li> -->
                <!-- <li><a routerLink="/settings" routerLinkActive="active">Add Bazar</a></li> -->
                <!-- <li><a routerLink="/settings" routerLinkActive="active">View Bazar</a></li> -->
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>